@using home.manager.Resources
@inherits System.Web.Mvc.WebViewPage

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<form name="changePassword"
      data-ng-submit="update()"
      data-ng-controller="AccountController"
      novalidate>
    <input id="antiForgeryToken"
           data-ng-model="antiForgeryToken"
           type="hidden"
           data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <h3 class="text-center">@Str.account_msg_ChangePassword</h3>
                        <div class="form-signin">
                            
                            <input type="password"
                                   class="form-control"
                                   placeholder="@Str.account_msg_OldPassword"
                                   required
                                   autofocus
                                   ng-model="c.OldPassword" />

                            <input type="password"
                                   class="form-control"
                                   placeholder="@Str.account_msg_NewPassword"
                                   required
                                   ng-model="c.NewPassword" />

                            <input type="password"
                                   class="form-control"
                                   placeholder="@Str.account_msg_ConfirmPassword"
                                   required
                                   ng-model="c.ConfirmPassword" />

                            <div ng-show="!(changePassword.$invalid || c.NewPassword != c.ConfirmPassword)">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Change password
                                </button>
                            </div>
<p ng-show="message != '' && changePassword.$invalid">
                            {{message}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
